[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
voix = "41ixdTNskpBiezYZyjigB5k3MTgdv3CcFHYFuVPy3mbK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./admin_key.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 10000000 tests/**/*.ts"
[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
